

body, html {
  height: 100%;
}

body {
  background-image: url("../images/AI.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.maintag{
	margin-top: 20%;
  margin-right: 8%;
  word-spacing: 2px;
}

h1{
  text-align: right;
  font-size: 80px;
  color: #ffffff;
   line-height: 20px;
  font-weight: 500;
  
}
h2{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
}
.Par{
  width: 30%;
  float: right;
  color: #ffffff;
   line-height: 20px;
  font-weight: 500;
  margin-top: 20px;
}