<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>GenFlow AI</title>
  <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
  <link rel="stylesheet" type="text/css" href="stylesheet/aboutus.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="semantic/semantic.min.js"></script>
  
</head>
<body>
<% include ./Partials/header.ejs %>	
<div class="row">
  <div class="column textarea">
<h2> Services</h2>
<p>
	An application software (Dr. Gen) in order to detect and predict livestock diseases at early stage by farmers through their own smart phone. Appropriate medical treatment is also provided along with the recognized disease. Application have the facility of calling the veterinary doctor and avail their services with video conferencing.
</p>	
  	
  </div>
  <div class="column caro">
  	<div id="stage">

<a href="images/cow.PNG"><img src="images/cow.jpg" width="360" height="270"></a>
<a href="images/hen.JPG"><img src="images/hen.jpg" width="360" height="270"></a>
<a href="images/tech.JPG"><img src="images/tech.jpg" width="360" height="270"></a>

<!-- <a href="images/convey.JPG"><img src="images/convey.jpg" width="360" height="270"></a>
 --><!-- <a href="images/c4.JPG"><img src="images/c4.JPG" width="360" height="270"></a> -->
</div>
  </div>
</div>
<script type="text/javascript" src ="javascript/ourstory.js" ></script>
</body>
</html>

