<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Animal Husbandry</title>
        <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
        <link rel="stylesheet" type="text/css" href="stylesheet/ani.css" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,500|Arvo:700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="javascript/modernizr.custom.79639.js.js"></script> 

 <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/semantic.min.js"></script>
<style>
body{
    background: url("images/wee.jpg");

}
</style>
    </head>

    <body>
    <% include ./Partials/header.ejs %> 
    <p align="center">
        <video controls autoplay>
             <source src="images/buff.webm" type="video/webm">
        </video>
        <br>
        <button onclick="window.location.href='/animalhusbandry'" class="ui left attached button"><i class="angle double left icon"></i></button>
        <!-- 
        <button onclick="window.location.href='/animalhusbandary'" class="right attached ui button"><i class="angle double right icon"></i></button> 
        -->
        
    </p>
    <div>
        <p>
            This video describes the full working of Dr. Gen application based on Android platform
        </p>
    </div>


    </body>
    </html>