<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>GenFlow AI</title>
  <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
  <link rel="stylesheet" type="text/css" href="stylesheet/home.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="semantic/semantic.min.js"></script>
</head>

<body>
<% include ./Partials/header.ejs %>	

<div class="maintag">
   <h1>GenFlow AI</h1>
   <br> 
  <div class="Par">
    <h3>We as a company is working to move forward using latest technology to ensure the customer challenge to be solved by just one AI based Solution. </h3>
  </div>
</div>


</body>

</html>